<html ng-app="myApp">
<style media="screen">
	li {
		list-style-type: none;
		margin-left: -30px;
	}

</style>

	<body ng-controller="mainCtrl">

		<!-- Filter By: <input ng-model="thisFilter.dateEmployed"> -->

		<select ng-model="thisFilter.dateEmployed">
			<option value="">--</option>
			<option value="2014">2014</option>
			<option value="2015">2015</option>
		</select>

		<ul ng-repeat="employee in employees | filter: thisFilter">
			<li>Name: {{employee.name}}</li>
			<li>Email: {{employee.email}}</li>
			<li>Hired: {{employee.dateEmployed}}</li>
			<li>Phone: {{employee.phone}}</li>
		</ul>






		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
